@keyframes main-text-transition{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes shake {
    /* 0% { transform: translateX(0); }
    10% { transform: translateX(-5px) rotate(20deg); }
    20% { transform: translateX(5px) rotate(-20deg); }
    30% { transform: translateX(-7px) rotate(20deg); }
    40% { transform: translateX(7px) rotate(-20deg); }
    50% { transform: translateX(-5px) rotate(20deg); }
    60% { transform: translateX(5px) rotate(-20deg);; }
    70% { transform: translateX(-3px) rotate(20deg);; }
    80% { transform: translateX(3px) rotate(-20deg);; }
    90% { transform: translateX(-1px) rotate(20deg);; }
    100% { transform: translateX(0) rotate(-20deg); } */
    /* 0% { transform: rotate(0deg); }
    10% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg);; }
    70% { transform: rotate(0deg);; }
    80% { transform: rotate(0deg);; }
    90% { transform: rotate(0deg);; }
    100% { transform: rotate(0deg); } */
    0% { transform: scaleX(1) scaleY(1); }
    10% { transform: scaleX(1.2) scaleY(1.2); }
    20% { transform: scaleX(1) scaleY(1); }
    30% { transform: scaleX(1.2) scaleY(1.2); }
    40% { transform: scaleX(1) scaleY(1); }
    50% { transform: scaleX(1.2) scaleY(1.2); }
    60% { transform: scaleX(1) scaleY(1); }
    70% { transform: scaleX(1.2) scaleY(1.2);; }
    80% { transform: rotate(0deg);; }
    90% { transform: rotate(0deg);; }
    100% { transform: rotate(0deg); }
    

  }