@media only screen and (max-width: 768px) {
    
    
    body{
        margin: 0px;
        background-color: black;
    }
    .header{
        width: 100%;
        height: 90px;
        background-color: black;
        margin: 0px;
        padding: 0px;
        /* display: flex; */
        display: none;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        
    }
    .logo{
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        background-color: black;
    }
    .logo-img{
        margin-left: 5px;
        width: 90px;
        height: 90px;
    }


    .language{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lang-item{
        margin-left: 10px;
        margin-right: 10px;
    }
    .active{
        color: #8BC43D;
    }

    .header-mobile {
        background-color: #000000;
        position: relative;
    }
    .nav-item{
        margin-top: 10px;
        margin-bottom: 10px;
    }
      /* Hide the links inside the navigation menu (except for logo/home) */
    .header-mobile #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
    .header-mobile a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
      /* Style the hamburger menu */
    .header-mobile a.icon {
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        position: absolute; 
        right: 5px;
        top: 0;
        width: 90px;
        height: 90px;
        padding-right: 10px;
    }

    .burgerimg{
        height: 32px;
        width: 40px;

    }
    #myLinks{
        color: white;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.56px;
        word-wrap: break-word;
        text-align: center;
    }
      
      /* Add a grey background color on mouse-over
      .header-mobile a:hover {
        background-color: #ddd;
        color: black;
      } */
      
      /* Style the active link (or home/logo) */
      /* .active {
        background-color: black;
        color: white;
        height: 90px;
        width: 100%;
      } */


    /* __________________________________________ */


    h1{
        color: #8BC43D;
        font-family: Montserrat;
        font-size: 76px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 4.44px;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-bottom: 0px;
        margin-top: 140px;
    }
    .main{
        position: relative;
        height: 720px;
        width: 100%;
        background-image: url(../Images/main-photo.png);
        background-size: cover;
        background-position: center;
        animation-name: main-text-transition;
        animation-duration: 3s;
    }
    .main-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 3%;
        z-index: 1;
        /* align-items: center; */
        justify-content: center;
    }
    .main-img{
        /* left: 45%;
        top: 0;
        right: 0;
        height: 790px;
        width: 100%; */
        display: none;
    }
    p{
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.80px;
        word-wrap: break-word;
    }
    h2{
        color: white;
        font-size: 24px;
        font-style: normal;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 23.40px;
        word-wrap: break-word;
        margin-top: 50px;
        margin-bottom: 20px;
        letter-spacing: 0.96px;
        text-transform: uppercase;
    }
    h3{
        color: #8BC43D;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 25px;
        letter-spacing: 0.96px;
        word-wrap: break-word;
    }
    .memberships{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .memb-row{
            display: flex;
            flex-flow: row;  
    }
    .memb-column{
        display: flex;
        flex-flow: row; 
        justify-content: center;  
    }
    .non-display-mobile{
        display: none;
    }
    .memb-header{
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
        line-height: 15px;
    }
    .memb-header2{
        margin-bottom: 18px;
    }
    .memb-header3{
        margin-bottom: 3px;
    }
    .memb{
        background-color: #2E2D2E;
        width: 160px;
        height: 185px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 10px;
        display: flex;          
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .memb1{
        height: 240px;
    }
    .memb2{
        height: 300px;
    }
    .memb3{
        height: 440px;
        width: 200px
    }
    .memb4{
        display: none;
    }
    .memb-desk{
        display: none;
    }
    .memb-text{
        text-align: center;
        color: white;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 15px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
        margin-top: 3px;
    }
    .memb-price{
        height: 45px;
        width: 130px;
        border: #8BC43D 1px solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 0.4px;
        word-wrap: break-word
    }
    .price2{
        height: 60px;
    }
    .price3{
        width: 160px;
    }
    .schedule{
        display: none;
    }
    .schedule-tablet{
        display: none;
    }
    .schedule-mobile{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .schedule-block{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-left: 13px;
        margin-right: 13px;
    }
    .schedule-row{
        display: flex;
        flex-flow: row;
        /* justify-content: center; */
    }
    .block-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    .schedule-header{
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    height: 20px;
    width: 144px;
    background-color: #8BC43D;
    border: #8BC43D 2px solid;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2px;
    }
    .schedule-group{
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    width: 38px; 
    height: 20px;
    background: #8BC43D; 
    border: #8BC43D 2px solid;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2px;
    }
    .group-name{
    color: white;
    background-color: #2E2D2E;
    border-color: #828183;
    width: 98px;
    font-weight: 500;
    }
    .teens{
        font-size: 6px;
    }
    .teens1{
        line-height: 8px; 
    }
    .circle{
        padding-top: 1px;
        line-height: 9px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}