@media only screen and (min-width: 1400px) {

.about{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.about-section{
    width: 100%;
    height: 760px;
    background-image: url(../Images/about-back.JPG);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-block{
    width: 930px;
    height: 340px;
    background-color: rgba(46, 45, 46, 0.80);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.about-text{
    width: 745px;
    height: 185px;
    color: white;
    font-size: 16px;
    margin-top: 70px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1.44px;
    word-wrap: break-word
}
.about-header{
    font-size: 24px;
}
.trainers{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.trainers-row{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.trainer-block{
    height: 420px;
    width: 480px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #2E2D2E;
    display: flex;
    flex-direction: row;
}
.trainer-img{
    height: 420px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.img-1{
    background-image: url(../Images/main-trener.JPG); 
}
.img-2{
    background-image: url(../Images/Oleg\ Senchenko.JPG); 
}
.img-3{
    background-image: url(../Images/Anastasia\ Lisinska.JPG); 
}
.img-4{
    background-image: url(../Images/Marilena.jpg); 
}
.img-5{
    background-image: url(../Images/Yulia.JPG); 
}
.img-6{
    background-image: url(../Images/trener6.JPG); 
}

.trainer-text-block{
    right:50%;
    top: 0;
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.trainer-header{
    margin-bottom: 0px;
    width: 220px;
    height: 60px;
}
h4{
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    width: 220px;
    margin-top: 3px;
}
.trainer-description{
    width: 205px;
    height: 255px;
    color: white;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.30px;
    word-wrap: break-word
}

.sponsors{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.sponsors-block{
    width: 100%;
    height: 350px;
    background-color: #2E2D2E;
    background-size: cover;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsors-header{
    margin-top: 70px;
    margin-bottom: 30px;
    color: #8BC43D;

}
.sponsors-text{
    width: 1004px;
    height: 88px;
    margin-top: 30px;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1.44px;
    word-wrap: break-word;
    text-align: center;
}
.btn-download{
    width: 205px;
    height: 50px;
    background-color: #8BC43D;
    color: black;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    cursor: pointer;
}

.gallery{
    display: flex;
    flex-flow: column;
    align-items: center;

}

#main-photo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-photo {
    max-height: 450px;
    border-radius: 10px;
    transition: opacity 0.1s ease-in-out;
}
.gallery-widht{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrows{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.main-photo {
    max-width: 800px;
    border-radius: 10px;
}
.thumbnail-container {
    display: flex;
    justify-content: center;
}

.thumbnails{
    display: flex;
    flex-direction: row;
}
.thumbnail {
    cursor: pointer;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}
.thumbnail:hover {
    border: 2px solid #333;
}

.footer{
    margin-top: 80px;
    width: 100%;
    height: 480px;
    background-color: #2E2D2E;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-block{
    width: 1200px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-text-block{
    top: 0;
    left: calc(50%-200px);
    width: 500px;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-map{
    top: 0;
    right: 50%;
    width: 500px;
    height: 480px;
    background-color: #8BC43D;
    filter: grayscale(100%) invert(92%) contrast(90%);
}
.footer-header{
    margin-bottom: 10px;
}
.footer-text{
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    text-decoration: none;
}
.social-icons{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 24px;
}
.icons{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 32px;
    width: 32px;
    background: none;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    height: 50px;
  }
  .copyright-mobile{
    display: none;
  }
    .author{
    text-decoration: none;
    color: #8BC43D;
    margin-left: 5px;
}
    .adress{
    text-decoration: none;
}
}