@media only screen and (min-width: 769px) and (max-width: 1399px){

    .about{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .about-section{
        width: 100%;
        height: 760px;
        background-image: url(../Images/about-back.JPG);
        background-size: cover;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-block{
        width: 340px;
        height: 420px;
        background-color: rgba(46, 45, 46, 0.80);
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }
    .about-text{
        width: 307px;
        height: 323px;
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 1.44px;
        word-wrap: break-word;
        margin-top: 70px;
        text-align: center;
    }
    .trainers{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .trainer-block{
        height: 400px;
        width: 380px;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #2E2D2E;
        display: flex;
        flex-direction: row;
    }
    .trainer-img{
        height: 400px;
        width: 50%;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
    }
    .img-1{
        background-image: url(../Images/main-trener.JPG); 
    }
    .img-2{
        background-image: url(../Images/Oleg\ Senchenko.JPG); 
    }
    .img-3{
        background-image: url(../Images/Anastasia\ Lisinska.JPG); 
    }
    .img-4{
        background-image: url(../Images/Marilena.jpg); 
    }
    .img-5{
        background-image: url(../Images/YULIA\ stoiko.JPG); 
    }
    .img-6{
        background-image: url(../Images/trener6.JPG); 
    }
    .trainer-text-block{
        right:50%;
        top: 0;
        height: 340px;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }
    .trainer-header{
        margin-bottom: 0px;
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
    h4{
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 17px;
        letter-spacing: 0.72px;
        word-wrap: break-word;
        width: 180px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .trainer-description{
        width: 150px;
        height: 175px;
        color: white;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: 0.50px;
        word-wrap: break-word
    }
    .trainers-row{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .sponsors{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .sponsors-block{
        width: 100%;
        height: 300px;
        background-color: #2E2D2E;
        background-size: cover;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors-header{
        margin-top: 30px;
        margin-bottom: 30px;
        color: #8BC43D;
    
    }
    .sponsors-text{
        width: 410px;
        height: 135px;
        /* margin-bottom: 20px; */
        color: white;
        font-size: 16px;
        font-family: Montserrat;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 1.44px;
        word-wrap: break-word;
        text-align: center;
    }
    .btn-download{
        width: 205px;
        height: 50px;
        background-color: #8BC43D;
        color: black;
        border: 0px;
        border-radius: 10px;
        font-size: 16px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.64px;
        word-wrap: break-word
    }
    
    .gallery{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    #main-photo-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .arrows{
        margin-left: 20px;
        margin-right: 20px;
    }
    .main-photo {
        max-height: 350px;
        border-radius: 10px;
        transition: opacity 0.1s ease-in-out;
    }
    .gallery-widht{
        width: 630px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .thumbnail-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .thumbnails{
        display: flex;
        flex-direction: row;
    }
    .thumbnail {
        cursor: pointer;
        margin: 5px;
        border: 2px solid transparent;
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }
    .thumbnail:hover {
        border: 2px solid #333;
    }
    .thumbnail.active {
        border: 2px solid #333;
    }
    .footer{
        margin-top: 50px;
        width: 100%;
        height: 400px;
        background-color: #2E2D2E;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer-block{
        width: 770px;
        height: 400px;
        /* display: flex;
        flex-direction: row;
        justify-content: center; */
    }
    .footer-map{
        left: 50%;
        width: 100%;
        height: 400px;
        background-color: #8BC43D;
        filter: grayscale(100%) invert(92%) contrast(90%);
        margin-right: 40px;
    }
    .footer-header{
        margin-bottom: 10px;
    }
    .footer-text-block{
        top: 0;
        right: 50%;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
    }
    .footer-text{
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 0.72px;
        word-wrap: break-word;
    }
    .social-icons{
        margin-top: 25px;
    }
    .icons{
        width: 32px;
        height: 32px;
        margin-right: 20px;
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 80px; /* Place the button at the bottom of the page */
        right: 24px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        cursor: pointer; /* Add a mouse pointer on hover */
        height: 32px;
        width: 32px;
        background: none;
    }
    #myBtnClick{
        display: block; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        color: black;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 16px;
        letter-spacing: 0.36px;
        word-wrap: break-word;
        width: 180px; 
        height: 45px;
        background: #8BC43D; 
        border: #8BC43D 2px solid;
        border-radius: 25px;
        text-align: center;     
        padding-left: 24px;
        padding-right: 24px;
        bottom: 20px;
        right: 20px;
        animation: shake 2s both infinite ;
        cursor: pointer;
    }
    .copyright{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.64px;
        word-wrap: break-word;
        height: 50px;
      }
      .copyright-mobile{
        display: none;
      }
        .author{
        text-decoration: none;
        color: #8BC43D;
        margin-left: 5px;
    }
        .adress{
        text-decoration: none;
    }
}