@media only screen and (min-width: 769px) and (max-width: 1399px) {
    body{
        margin: 0px;
        background-color: black;
    }
    .header{
        width: 100%;
        height: 90px;
        color: white;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.56px;
        word-wrap: break-word;
        background-color: black;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
    }
    .header-mobile{
        display: none;
    }
    .logo{
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute;
        top: 5px;
        left: 10%; */
    }
    .logo-img{
        margin-top: 5px;
        width: 80px;
        height: 80px;
    }
    .navbar-mobile{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    .nav-list{
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 541px;
    }
    .nav-list-mobile{
        display: none;
    }
    .nav-item{
        margin-left: 7px;
        margin-right: 7px;
        text-decoration: none;
        color:white;
    }
    .language{
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute;
        top: 5px;
        right: 5px; */
    }
    .lang-item{
        text-decoration: none;
        color:white;
        margin-left: 2px;
        margin-right: 2px;
    }
    .active{
        color:#8BC43D;
    }
    h1{
        color: #8BC43D;
        font-family: Montserrat;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 4.44px;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-bottom: 0px;
        margin-top: 75px;
        
    }
    .main{
        position: relative;
        height: 720px;
        width: 100%;
        animation-name: main-text-transition;
        animation-duration: 3s;
    }

    .main-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 15%;
        z-index: 1;
        justify-content: center;
    }

    .main-img{
        position: absolute;
        right: 0;
        top: 0;
        width: 648px;
        height: 630px;
    }

    p{
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.80px;
        word-wrap: break-word;
    }

    h2{
        color: white;
        font-size: 24px;
        font-style: normal;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 23.40px;
        word-wrap: break-word;
        margin-top: 50px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    h3{
        color: #8BC43D;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 25px;
        letter-spacing: 0.96px;
        word-wrap: break-word;
    }
    .memberships{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .memb-row{
            display: flex;
            flex-flow: row;   
    }
    .memb-column{
        display: flex;
        flex-flow: row;   
    }
    .memb-header{
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .memb-header2{
        margin-bottom: 10px;
    }
    .memb{
        background-color: #2E2D2E;
        width: 230px;
        height: 180px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 10px;
        display: flex;          
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .memb1{
        height: 250px;
    }
    .memb2{
        height: 305px;
    }
    .memb-phone{
        display: none;
    }
    .memb-text{
        text-align: center;
        color: white;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10px;
        letter-spacing: 0.4px;
        word-wrap: break-word
    }
    .memb-price{
        height: 45px;
        width: 180px;
        border: #8BC43D 1px solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 10px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 0.4px;
        word-wrap: break-word
    }
    .price2{
        height: 60px;
    }
    .schedule{
        display: none;
    }
    .schedule-mobile{
        display: none;
    }
    .schedule-tablet{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .schedule-display{
        display: none;
    }
    .schedule-block{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-left: 13px;
        margin-right: 13px;
    }
    .schedule-row{
        display: flex;
        flex-flow: row;
        /* justify-content: center; */
    }
    .block-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    .schedule-header{
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    height: 20px;
    width: 180px;
    background-color: #8BC43D;
    border: #8BC43D 2px solid;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2px;
    }
    .schedule-group{
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    width: 55px; 
    height: 20px;
    background: #8BC43D; 
    border: #8BC43D 2px solid;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2px;
    }
    .group-name{
    color: white;
    background-color: #2E2D2E;
    border-color: #828183;
    font-size: 9px;
    width: 115px; 
    }
    .teens{
        font-size: 6px;
    }
    .teens1{
        line-height: 8px; 
    }
    .circle{
        line-height: 10px; 
    }
}