@media only screen and (min-width: 1400px) {
    
    body{
        margin: 0px;
        background-color: black;
    }
    .header{
        width: 100%;
        height: 110px;
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.56px;
        word-wrap: break-word;
        background-color: black;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
    }
    .header-mobile{
        display: none;
    }
    .logo{
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-img{
        width: 90px;
        height: 90px;
    }
    .navbar-mobile{
        display: none;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40PX;
        margin-left: 112px;
        margin-right: 112px;
        width: 870px;
    }
    nav{
        display: flex;
        flex-direction: row;

    }
    .nav-item{
        margin-left: 18px;
        margin-right: 18px;
        text-decoration: none;
        color:white;
    }
    .language{
        padding-top: 40px;
        padding-bottom: 40PX;
    }
    .lang-item{
        text-decoration: none;
        color:white;
    }
    .active{
        color:#8BC43D;
    }
    h1{
        color: #8BC43D;
        font-size: 130px;
        font-family: Montserrat;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 7.80px;
        word-wrap: break-word;
        margin-bottom: 0px;
        margin-top: 60px;
        animation-name: main-text-transition;
        animation-duration: 3s;
    }
    .main{
        position: relative;
        height: 720px;
        width: 100%;
        animation-name: main-text-transition;
        animation-duration: 3s;
    }
    
    .main-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right:50%;
        z-index: 1;
        justify-items: center;
    }
    .main-img{
        position: absolute;
        left: 45%;
        top: 0;
        right: 0;
        width: 720px;
        height: 700px;

    }

    p{
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.80px;
        word-wrap: break-word;
    }
    h2{
        color: white;
        font-size: 32px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 23.40px;
        word-wrap: break-word;
        margin-top: 90px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .memberships{
        display: flex;
        flex-flow: column;
        align-items: center;
    
    }
    .memb-row{
        display: flex;
        flex-flow: row;       
        margin-bottom: 35px;
    }
    .memb-column{
        display: flex;
        flex-flow: row;   
    }
    .memb{
        background-color: #2E2D2E;
        width: 320px;
        height: 280px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 10px;
        display: flex;          
        flex-direction: column;
        align-items: center;
    }
    .memb1{
        height: 350px;
    }
    .memb2{
        height: 440px;
    }
    h3{
        color: #8BC43D;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.96px;
        word-wrap: break-word;
    }
    .memb-text{
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 15px;
        letter-spacing: 0.64px;
        word-wrap: break-word
    }
    .memb-header{
        margin-bottom: 0px;
        text-align: center;
    }
    .memb-header2{
        margin-bottom: 15px;
    }
    .memb-price{
        height: 64px;
        width: 260px;
        border: #8BC43D 2px solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        margin-top: 20px;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.56px;
        word-wrap: break-word
    }

    .memb-phone{
        display: none;
    }
    .schedule-mobile{
        display: none;
    }
    .schedule-tablet{
        display: none;
    }
    .schedule-tablet-display{
        display: none;
    }
    .schedule{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .schedule-row{
        display: flex;
        flex-flow: row;
    }
    .schedule-cell{
        color: black;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.36px;
        word-wrap: break-word;
        width: 120px; 
        height: 30px;
        margin: 2.5px; 
        background: #8BC43D; 
        border: #8BC43D 2px solid;
        border-radius: 5px;
        text-align: center;
    }
    .schedule-cell-empty{
        width: 120px; 
        height: 30px;
        margin: 2.5px; 
        border: 2px #828183 solid;
        border-radius: 5px
    }
    .schedule-cell-day{
        color: white;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 0.36px;
        word-wrap: break-word;
        text-align: center;
        width: 120px; 
        height: 30px;
        margin: 2.5px; 
        background: #2E2D2E;
        border: 2px #828183 solid ;
        border-radius: 5px;
    }
    .teens{
        font-size: 8px;
    }
    .teens1{
        line-height: 15px; 
    }
    .circle{
        line-height: 15px; 
    }
}

